body{
    background-color: rgb(30, 0, 77);
    font-family: 'Tajawal', sans-serif;
}
#father{
    direction: rtl;
}
#centerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
#taskTable{
    background-color: rgb(239, 239, 239);
    width: 60%;
    margin-top: 130px;
}
#header{
    width: 100%;
    text-align: center;
    background-color: purple;
    color: white;
    padding: 8px 0;
    
}
h1{
    display: inline;
}
#btnadd{
float: right;
background-color: white;
margin-right: 10px;

}
button{
    border: none;
    font-size: 16px;
    
    box-shadow: 0px 3px 5px rgba(168,168, 168, 0.38);
}
button.circuler{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 2px;

}
#taskes{
    padding: 20px;
}
.task{
    display: flex;
    background-color: white;
    padding: 10px;
    border-bottom: solid black 1px;
    transition: 0.2s;
}
#taskinfo{
    width:70% ;
}
#taskaction{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
#delete{
    background-color: red;
    color: white;
}
#edit{
    background-color: blue;
    color: white;
}
#correct{
background-color: green;
color: white;
}
#wrong{
background-color: rgb(95, 24, 19);
color: white;
}
#task:hover{
    box-shadow: 0px 3px 15px rgba(97, 97, 97,0843);
}
#history{
    display: flex;
    align-items: center;
}
.done{
    background-color:rgb(158, 253, 160) ;
}